
 
 .main{
    padding: 10px;
    height: 102vh;
 }

 .sidebar{
    background-color: #001247;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    margin-bottom: 2%;
    height: 100vh;
    padding: 10px;
    width: 300px;
 }

 .content{
    width: 100%;
    height: 100%;
 }

 .header{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 3vh;
    height: 10vh;
    width: 100%;
 }

 .body{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    height: 87vh;
    width: 100%;
 }

 .slide-bar-header h1{
    color: rgba(128, 128, 128, 0.774);
    font-size: 35px;
    font-weight:500;
 }

 .menu{
    margin-top: 100px;
 }

 .menu-item{
    margin-top: 30px;
 }

 .menu-item a{
    color: rgba(255, 255, 255, 0.735);
    text-decoration: none;
    font-size: 18px;
  
 }

 .menu-item i{
    color: rgba(255, 255, 255, 0.741);
    text-decoration: none;
    font-size: 18px ;
    margin: 0 15px;
 }  

 .active-menu-item{
   background-color: red; 
   color: white; 
   padding: 5px;
   border-radius: 5px;
 }