/* General layout adjustments */
.card-container-monitoring {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  align-items: center; /* Center the cards vertically */
  margin-top: 20px;
}

.card-monitoring {
  width: 100%; /* Make the card full-width */
  margin: 20px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.gauge-container {
  margin-bottom: 20px;
}

.water-level-boundary {
  margin-top: 20px;
}

.submit-button {
  margin-top: 10px;
}

/* Make form full-width on smaller screens */
form {
  width: 100%;
}

/* Responsive font size for form elements */
.input-field,
.submit-button {
  font-size: 16px;
}

/* Additional styles for better readability on smaller screens */
.page-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Add margin between cards */
.card-container-monitoring::after {
  content: "";
  flex-grow: 1;
}

@media (min-width: 1025px) {
  .card-monitoring {
    max-width: 100%; /* Full width for laptops and larger screens */
  }
}

/* Adjustments for tablets (landscape) */
@media (min-width: 768px) and (max-width: 1024px) {
  .card-monitoring {
    max-width: 100%; /* Make the card full-width for tablets (landscape) */
  }
}

/* Adjustments for tablets (portrait) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .card-monitoring {
    max-width: 100%; /* Make the card full-width for tablets in portrait mode */
  }
}

/* Adjustments for small screens (phones) */
@media (max-width: 767px) {
  .card-monitoring {
    max-width: 100%; /* Make the card full-width for small screens (phones) */
  }
}
