.gradient-custom-3 {
    /* fallback for old browsers */
    background: rgb(70, 134, 194);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: rgb(70, 134, 194);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: rgb(70, 134, 194);
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: rgb(70, 134, 194);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: rgb(70, 134, 194);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: rgb(70, 134, 194)
    }

