.gradient-custom-3 {
    /* fallback for old browsers */
    background: white;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: white;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: white;
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: white;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: white;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: white
    }


.d-grid{
    background-color: #bfcfff;
    border-radius: 4px;
}

.d-grid:hover{
    background-color: #809fff;
    
}

 
.gradient-custom-3 {
    background: #bfcfff;/* Customize the gradient colors as needed */
  }
  
  
